*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
  background: #E5E5E5;
 font-family: 'Poppins';
}  

.text{
    position: absolute;
    border-top-left-radius:5px;
    top: 0px;
    left: 0px;
    background: rgb(0,127,255);
    color: #fff;
}

.thumbItem img{
    border-radius: 5px;
    width: 200px;
    height: 300px;
}

  .thumbItem{
    padding: 0px;
    background-color:#fff;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    
    position: relative;
    margin: 1rem;
    width: 200px;
}

.plus{
    position: absolute;
    margin-left: 165px;
    color: #fff;
    background-color: black;
    background-size: contain;
}

.thumbTitle{
    align-items: center;
    font-size: 11px;
    font-weight: bold;
    justify-content: space-between;
    padding: 1rem;
    word-break: break-all;
}
.thumbMovieDetails{
    padding-top: 7px;
    color:rgb(105,105,105);
    font-size: 13px;
    font-weight: normal;
}


.text1{
    position: absolute;
    top: 276px;
    left: 0px;
    background: rgb(0,127,255);
    color: #fff;
}
.thumbItem1 img{
    width: 200px;
    height: 300px;
    border-radius: 5px;
}
.thumbItem1 img{
    vertical-align:middle;
  }

  .thumbItem1{
    padding: 0px;
    background-color:#fff;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    
    position: relative;
    margin: 1rem;
    width: 200px;
}

.plus1{
    position: absolute;
    margin-left: 165px;
    color: #fff;
    background-color: black;
    background-size: contain;
}
.thumbTitle1{
    align-items: center;
    font-size: 11px;
    font-weight: bold;
    justify-content: space-between;
    padding: 1rem;
    word-break: break-all;

}
.thumbMovieDetails1{
    padding-top: 7px;
    font-size: 13px;
    color:rgb(105,105,105);
    font-weight: normal;
}

ion-icon{
    position: absolute;
    color: rgb(255,196,12);
    margin-top: 85px;
    margin-left: 153px;
}
.text21{
    position: absolute;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    background: rgb(0,127,255);
    color: #fff;
}
.text22{
    position: absolute;
    top: 176px;
    left: 0px;
    background: rgb(0,127,255);
    color: #fff;
}
.text23{
    position: absolute;
    top: 176px;
    left: 308px;
    background:  rgb(0,127,255);
    color: #fff;
}
.thumbItem2 img{
    width: 350px;
    height: 200px;
    border-radius: 5px;
}
.thumbItem2 img{
    vertical-align:middle;
    image-rendering:pixelated;
}


  .thumbItem2{
    padding: 0px;
    border-radius: 5px;
    background-color:#fff;
    border-bottom: 10px solid rgb(252, 249, 249);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);

    position: relative;
    margin: 1rem;
    width: 350px;
}
.plus2{
    position: absolute;
    margin-left: 320px;
    color: #fff;
    background-color: black;
    background-size: contain;
}

.thumbTitle2{
    align-items: center;
    font-size: 11px;
    font-weight: bold;
    justify-content: space-between;
    padding: 1rem;
    word-break: break-all;
}
.thumbMovieDetails2{
    padding-top: 7px;
    font-size: 13px;
    color:rgb(105,105,105);
    font-weight: normal;
}

.play{
    margin-left: 280px;
}

.text3{
    position:absolute;
    top: 76px;
    left: 108px;
    background: rgb(0,127,255);
    color: #fff;
}

.thumbItem3{
    display: flex;
    position: relative;
    background-color:#fff;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    margin: 20px 20px;
    align-items:flex-start;
    overflow: hidden;
    width: 45%;
    height: 100px;
}

.thumbItem3 img{
    width: 150px;
    height: 150px;
    
}

.thumbTitle3{
    padding-top: 15px;
    margin-left: 10px;
    margin-bottom: 0px;
   font-size: 11px;
   font-weight: bold;
   word-break: break-all;
}
.thumbMovieDetails3{
    padding-top: 7px;
    font-size: 13px;
    color:rgb(105,105,105);
    font-weight: normal;
}
.soon{
    padding-top: 7px;
    font-weight: normal;
    color: rgb(0,127,255);
    font-size: 13px;
}
